@CHARSET "UTF-8";
html, body {
	height: 100%;	
}
/* nav */
.navbar {
	height: 52px;
	width: 100%;
	background-color: #edf1f5;
	border: 0;
	margin-bottom: 0;
}
.navbar-collapse {
	background-color: #edf1f5;
}
.animus-actions {
	height:52px;
	line-height: 52px;
	cursor: default;
	margin-right: 0;
}
.animus-actions a {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	color: #333;
}
/* footer */
.footer {
	width: 100%;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	bottom: 0;
}
.footer-player {
	width: 100%;
	height: 53px;
	background-color: #333;
	position: absolute;
	left: 0;
	top: -53px;
}

/* main iframe */
iframe.animus-main {
	border-width: 0;
	width: 100%;
	height: 100%;
}

/* head */
.animus-head {
	background: #333;
}
/** banner */
.animus-carousel {
	padding: 0;
}

