<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<title>animus</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- 引入 Bootstrap -->
	<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script th:src="@{/lib/jquery-3.2.0.js}"></script>
	<!-- 包括所有已编译的插件 -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	
	<link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body style="overflow: hidden;">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#do-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="do-navbar-collapse">
				<div class="animus-actions navbar-right"> 
					<a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a>
					<a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
       			</div>
			</div>
		</div>
	</nav>
	<iframe th:src="@{/main}" class="animus-main"></iframe>
	<div class="footer">
		<div class="footer-player container">
			<div class="row clearfix">
			
			</div>
		</div>
	</div>
</body>
</html>